<script type="text/javascript">
  function deleteContent(path, button) {
    if (!window.confirm("Are you sure you want to delete this content?")) return;
    jQuery.get("/_internal/settings/contents/delete", {path: path});
    var container = jQuery(button).closest("tr");
    container.fadeOut("slow", function () { container.remove(); });
  }
</script>
<table class="table table-striped">
<thead>
<tr>
  <th>Path</th>
  <th class="column-edit">Edit</th>
  <th class="column-delete">Delete</th>
</tr>
</thead>
<tbody>
<% contentPaths.forEach(function(path) { %>
<tr>
  <td>
    <a class="content-path" href="<%= path %>" target="_blank">
      <%= path %></a>
  </td>
  <td class="column-edit">
    <a href="#"
       onclick="window.open('/_internal/content?path=<%= path %>', 'Edit'); return false;">
      <i class="icon-pencil"></i></a>
  </td>
  <td class="column-delete">
    <a href="#" onclick="deleteContent('<%= path %>', this); return false;">
      <i class="icon-remove"></i></a>
  </td>
</tr>
<% }) %>
</tbody>
</table>