<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MockMockWeb Content</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  <link href="/_internal/assets/css/bootstrap.css" rel="stylesheet">
  <style>
    body {
      padding-top: 20px;
    }
    div.form-title {
      margin-bottom: 10px;
      border-bottom: 1px solid #eeeeee;
      font-size: 18px;
    }
    textarea {
      width: 100%;
      height: 400px;
    }
    span.status {
      margin-left: 5px;
      color: red;
    }
  </style>
  <link href="/_internal/assets/css/bootstrap-responsive.css" rel="stylesheet">

  <script src="/_internal/assets/js/jquery-1.9.1.min.js"></script>
</head>

<body>

<div class="container">
  <div id="content-form-div">
    <script type="text/javascript">
      jQuery(function() {
        jQuery('#save-content').click(function() {
          var params = jQuery('#content-form').serialize();
          jQuery.post('/_internal/content/save', params, function() {
            window.opener.location.reload();
            window.close();
          });
        });
      });
    </script>
    <form id="content-form">
      <div class="form-title"><%= path %></div>
      <input type="hidden" name="path" value="<%= path %>"/>
      <textarea name="content" rows="3"><%= content %></textarea>
      <div class="btn-group">
        <button id="save-content" class="btn btn-primary" type="button">Save</button>
      </div>
      <span class="status"></span>
    </form>
  </div>
</div>

<script src="/_internal/assets/js/bootstrap.min.js"></script>
</body>
</html>
