<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MockMockWeb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/_internal/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/_internal/assets/css/site.css" rel="stylesheet">
  <link href="/_internal/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <script src="/_internal/assets/js/jquery-1.9.1.min.js"></script>
</head>
<body>

<div id="wrap">
  <div class="container">
    <div class="page-header">
      <h1><%= request.url %></h1>
    </div>
    <%= content %>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="muted menu">
      <a href="/">Home</a>
      | <a href="#"
         onclick="window.open('/_internal/content?path=<%= request.url %>', 'Edit'); return false;">Edit</a>
      | <a href="/_internal/settings">Settings</a>
    </div>
  </div>
</div>

<script src="/_internal/assets/js/bootstrap.min.js"></script>

</body>
</html>
